

.section.started {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    position: relative;
    overflow: visible;
    height: 100vh;
    z-index: 11
  }
  
  .section.started .h-title {
    margin: 40px 0 0 -11vw;
    padding: 4.2vw;
    font-size: 4.2vw;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    background: #373b40;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    border-radius: 264px;
    -moz-border-radius: 264px;
    -webkit-border-radius: 264px;
    -khtml-border-radius: 264px
  }
  
  .section.started .h-title strong {
    color: #68e0cf
  }
  
  .section.started .started-content {
    padding-left: 8%;
    max-width: 500px
  }
  
  .section.started .started-content .h-subtitles {
    margin: 0 0 30px;
    height: 18px
  }
  
  .section.started .started-content .h-subtitle,.section.started .started-content .typed-subtitle,.section.started .started-content .typed-cursor {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase
  }
  
  .section.started .started-content .typed-cursor {
    margin-left: 3px
  }
  
  .section.started .started-content .h-text {
    margin: 0 0 30px;
    font-size: 14px;
    color: #fff
  }
  
  .section.started .btn {
    margin-right: 15px
  }
  
  .section.started .mouse-btn {
    padding: 0;
    width: 64px;
    font-size: 18px;
    text-align: center
  }
  
  .section.started .mouse-btn .icon {
    margin-left: 0;
    position: relative;
    top: -5px;
    left: 0;
    animation: mouse-anim 1s ease-out 0s infinite
  }
  
  .section.started .mouse-btn:hover .icon {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0)
  }
  
  
  @media (max-width: 992px) {
    .section.started {
        margin:0;
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 70px;
        height: auto !important;
        text-align: center
    }
  
    .section.started .h-title {
        margin: 0 auto;
        margin-top: -200px;
        padding: 70px 35px 30px;
        width: 480px;
        font-size: 60px;
        background: #373b40;
        border-radius: 360px 360px 0 0;
        -moz-border-radius: 360px 360px 0 0;
        -webkit-border-radius: 360px 360px 0 0;
        -khtml-border-radius: 360px 360px 0 0
    }
  
    .section.started .started-content {
        padding-left: 0;
        max-width: 100%
    }
  
    .section.started .started-content .h-subtitles {
        margin: 0 0 40px;
        height: 18px
    }
  
    .section.started .started-content .h-text {
        display: none
    }
  
    .section.started .mouse-btn {
        display: none !important
    }
  
    .section.started .btn {
        margin-right: 0
    }
  }
  
  @media (max-width: 720px) {
    .section.started {
        padding-bottom:50px
    }
  
    .section.started .h-title {
        margin-top: -140px;
        padding: 70px 15px 15px;
        width: auto;
        font-size: 40px
    }
  }


  
  .section.contacts .alert-success {
    display: none  
  }
  
  .section.contacts {
    font-size: 14px;
    color: #fff;
    margin-bottom: 25%;
  }




/*desktops - higher resolution*/
@media (min-width: 1281px){
    #section-contacts {
        min-height: 1158px;
    }
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #section-contacts {
        min-height: 1158px;
    }
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){
    #section-contacts {
        min-height: 1250px;
    }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
    #section-contacts {
        min-height: 1158px;
    }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){
    #section-contacts {
        min-height: 1158px;
    }
}


